.contentDefault {
  font-family: "clavo", serif;
  font-weight: 400;
  font-style: normal;
}

.contentItalic {
  font-family: "clavo", serif;
  font-weight: 400;
  font-style: italic;
}

.contentBold {
  font-family: "clavo", serif;
  font-weight: 700;
  font-style: normal;
}

.contentBoldItalic {
  font-family: "clavo", serif;
  font-weight: 700;
  font-style: italic;
}
